<link rel="stylesheet" href="/css/style.css">

<div class="container tm-mt-big tm-mb-big">
    <div>
        <a href="/products" class="btn btn-primary ml-2 mr-5" style="border-radius: 10px">
            <i class="fas fa-chevron-circle-left">  Back to products</i>
        </a>
    </div>
    <div class="row mt-4">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block" style="color: orange">Edit Product</h2>

                        <form action="/products/{{product._id}}/update" method="post" id="form">
                            <div class="col-12">
                                <div class="form-group mb-3 col-sm-12">
                                    <label for="name">Product Name</label>
                                    <input
                                            id="name"
                                            name="name"
                                            type="text"
                                            value="{{product.name}}"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3 col-sm-12">
                                    <label for="description">Description</label>
                                    <textarea
                                            class="form-control validate tm-small"
                                            name="description"
                                            rows="5"
                                            required
                                    >{{product.description}}</textarea>
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="name">Price</label>
                                    <input
                                            id="price"
                                            name="price"
                                            type="text"
                                            value="{{product.price}}"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="category">Type</label>
                                    <select class="custom-select tm-select-accounts" id="type" name="type" onchange="form.form.submit()">
                                        {{#each category}}
                                            <option value="{{this.type}}">{{this.type}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="stock">Units In Stock</label>
                                    <input
                                            id="stock"
                                            name="stock"
                                            type="text"
                                            value="{{product.stock}}"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3 col-sm-12">
                                    <label for="stock">Image </label>
                                    {{#each product.image}}
                                        <input
                                                id="{{increase @index}}"
                                                name="image"
                                                type="text"
                                                value="{{this}}"
                                                class="form-control validate space"
                                        >
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mx-auto mt-5  align-content-center">
                                <button type="submit" class="btn btn-primary col-4" style="border-radius: 10px">
                                    UPDATE CHANGES
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script>-->
<!--    function add(){-->
<!--        var total = parseInt($('#total_chq').val())+1;-->
<!--        var new_input='<input id="{{increase product.image}}" name="image" type="text" value="Input source image here" class="form-control validate space" />';-->
<!--        $('#input_here').append(new_input);-->
<!--    }-->
<!--    function remove(){-->
<!--        $('#new_'+last_chq_no).remove();-->
<!--    }-->
<!--</script>-->