<link rel="stylesheet" href="/css/style.css">
<!-- Table here -->
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-10 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="input-group mb-4">
                    <form action="/products/search" method="get" class="input-group mb-4">
                        <div class="form-outline col-xl-6">
                            <input type="text" name="name"
                                   placeholder="Search here ..."
                                   class="form-control"
                                   style="border-radius: 10px"/>
                        </div>
                        <button type="submit"
                           class="btn btn-primary ml-2 mr-5"
                           style="border-radius: 10px"
                           >
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table" >
                        <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Type</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{#each products}}
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td><a href="/products/{{this.slug}}" class="btn-outline-success">{{this.name}}</a></td>
                                <td>{{this.price}}</td>
                                <td>{{this.stock}}</td>
                                <td>{{this.type}}</td>
                                <td>
                                    <a href="/products/{{this._id}}/delete"
                                       class="tm-product-delete-link"
                                       type="button"
                                       data-id="{{this._id}}"
                                       data-toggle="modal"
                                       data-target="#deleteProductModal">
                                        <i class="fas fa-trash tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>

                <div class="navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link paginationStyle">First</a>
                        </li>

                        {{#for 1 totalPage 1}}
                            <li class="page-item">
                                <a id="page-item"
                                   class="page-link paginationStyle"
                                   >{{this}}
                                   </a>
                            </li>
                        {{/for}}

                        <li class="page-item">
                            <a class="page-link paginationStyle">Last</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-s-12 mt-5">
                    <a href="/products/add" class="btn btn-primary col-4 add-btn" style="border-radius: 10px">
                        Add new product
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

{{!-- Modal --}}
<div class="modal fade" id="deleteProductModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this product ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-danger">Confirm Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="deleteProductForm"></form>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        let productId;
        let deleteForm = document.forms['deleteProductForm'];

        $('#deleteProductModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            productId = button.data('id');
        });

        let btnDeleteProduct = document.getElementById('btn-delete-product');

        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/products/' + productId + '/delete';
            deleteForm.submit();
        };
    });
</script>

<script type="text/javascript">
    const currentLocation = location.href;
    const pageItem = document.querySelectorAll('#page-item');
    const pageLength = pageItem.length;
    let flag = 0;
    let curr = 1;
    console.log(pageItem.length);

    for(let i = 0; i<pageLength; i++){
        let searchParams = new URLSearchParams(window.location.search);

        if(!searchParams.has('page')){
            if(!searchParams.has('name')){
                pageItem[i].href = location.href + '?page=' + (i + 1);
            } else {
                pageItem[i].href = location.href + '&page=' + (i + 1);
            }
        }else{
            const result = location.href.toString().replace(/page=[0-9]/, 'page='+ (i+1))
            pageItem[i].href = result;
        }

        if(pageItem[i].href === currentLocation){
            pageItem[i].className += " activeCurrent";
            flag = 1;
        }
    }

    if(flag === 0){
        pageItem[0].className += " activeCurrent";
    }
</script>
