<link href="/css/myStyle.css" rel="stylesheet">
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title mb-3">Products</h4>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3>Products table</h3>

                    <form action="/products/search" method="get" class="input-group justify-content-end">
                        <div class="form-outline">
                            <input name="name" type="search" value="{{queryName}}" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr >
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0" >Product Name</th>
                                    <th class="border-top-0">Price</th>
                                    <th class="border-top-0">Stock</th>
                                    <th class="border-top-0">Sold</th>
                                    <th class="border-top-0">Type</th>
                                    <th class="border-top-0" style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody  id="table">

                            {{#each products}}
                                <tr>
                                    <td>{{increaseIndex @index}}</td>
                                    <td>
                                        <a class="" href="/products/{{this._id}}/edit">
                                            {{this.name}}
                                        </a>
                                    </td>
                                    <td>{{numberWithCommas this.price}}</td>
                                    <td>{{this.stock}}</td>
                                    <td>{{this.sold}}</td>
                                    <td>{{this.type}}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <a href="/products/{{this._id}}/edit"
                                           type="button"
                                           class="btn btn-outline-warning">
                                            Update
                                        </a>
                                        <a type="button"
                                           class="btn btn-outline-danger"
                                           style="border-radius: 50%;"
                                           data-id="{{this._id}}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteProductModal">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div class="navigation mb-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item pagination">
                                <a class="">&laquo;</a>
                            </li>

                            {{#for 1 totalPage 1}}
                                <li class="page-item pagination">
                                    <a id="page-item"
                                       class=""
                                    >{{this}}
                                    </a>
                                </li>
                            {{/for}}

                            <li class="page-item pagination">
                                <a class="">&raquo;</a>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-4" style=" text-align: center;">
                        <a href="/products/add" class="btn btn-success col-3">Add product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->

    <!-- footer -->
    <footer class="footer text-center"> 2021 © <a
            href="https://www.wrappixel.com/">Pixie Store Admin</a>
    </footer>
    <!-- End footer -->
</div>

{{!-- Modal --}}
<div class="modal fade" id="deleteProductModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this product ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-inverse" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="deleteProductForm"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        let productId;
        let deleteForm = document.forms['deleteProductForm'];

        $('#deleteProductModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            console.log(button);
            productId = button.data('id');
        });

        let btnDeleteProduct = document.getElementById('btn-delete-product');

        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/products/' + productId + '/delete' + '?redirect=' + window.location.href;
            deleteForm.submit();
        };
    });
</script>

<script type="text/javascript">
    const currentLocation = location.href;
    const pageItem = document.querySelectorAll('#page-item');
    const pageLength = pageItem.length;
    let flag = 0;
    let curr = 1;
    for(let i = 0; i<pageLength; i++){
        let searchParams = new URLSearchParams(window.location.search);
        if(!searchParams.has('page')){
            if(!searchParams.has('name')){
                pageItem[i].href = location.href + '?page=' + (i + 1);
            } else {
                pageItem[i].href = location.href + '&page=' + (i + 1);
            }
        }else{
            const result = location.href.toString().replace(/page=[0-9]/, 'page='+ (i+1))
            pageItem[i].href = result;
        }
        if(pageItem[i].href === currentLocation){
            pageItem[i].className += "active";
            flag = 1;
        }
    }
    if(flag === 0){
        pageItem[0].className += "active";
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

